<div class="notificacoes">
  <div class="cabecalho">
    <dl>
      <dd class="atual">Todos</dd>
      <dd>Menções</dd>
    </dl>
  </div>

  <div class="notificacao">
    <div class="infos-usuario">
      <div class="foto"></div>
      <label>
        <p class="nome">Pedrinho</p>
        <p class="arroba">@pedrinhozeromeia</p>
      </label>

      <p class="acao-notificacao">
        Seguiu você
      </p>
    </div>

    <p class="horario">
      12min
    </p>
  </div>

   <div class="notificacao">
    <div class="infos-usuario">
      <div class="foto"></div>
      <label>
        <p class="nome">Pedrinho</p>
        <p class="arroba">@pedrinhozeromeia</p>
      </label>

      <p class="acao-notificacao">
        Seguiu você
      </p>
    </div>

    <p class="horario">
      12min
    </p>
  </div>
</div>