<div class="grupos">

    <div class="titulo">Grupos</div>
    <div class="grupos-abertos">
        <div class="grupo">
            <div class="titulo-grupo">Grupo de Estudos</div>
            <div class="descricao">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quis odit odio
                incidunt rerum suscipit! Rerum reprehenderit accusantium, minus a est nihil ut odio consectetur debitis
                eius libero deleniti placeat.</div>


            <div class="informacoes">
                <div class="participantes">150 participantes</div>
                <div class="entrar">
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </div>
            </div>
        </div>

         <div class="grupo">
            <div class="titulo-grupo">Grupo de Estudos</div>
            <div class="descricao">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, quis odit odio
                incidunt rerum suscipit! Rerum reprehenderit accusantium, minus a est nihil ut odio consectetur debitis
                eius libero deleniti placeat.</div>


            <div class="informacoes">
                <div class="participantes">150 participantes</div>
                <div class="entrar">
                    <span class="material-symbols-outlined">
                        arrow_forward
                    </span>
                </div>
            </div>
        </div>

        
    </div>
</div>