<div class="momentos">
	<div class="area">
		<div class="titulo">Top Assuntos de Hoje</div>
		<div class="topico-area">
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
		</div>
	</div>
	<div class="area">
		<div class="titulo">Top Assuntos de Todos os Tempos</div>
		<div class="topico-area">
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
			<div class="topico-item">
				<div class="topico-item-numero">1</div>
				<div class="topico-item-texto">#Texto</div>
			</div>
	</div>
</div>