main .container input {
    width: 100%;
    height: 48px;
    border: none;
    background: #2F3136;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

main .container .feed {
    height: 100%;
    padding: 20px;
}

main .container .acoes {
    margin-top: 10px;
    color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .acoes .material-symbols-outlined {
    font-size: 35px;
    margin-right: 10px;
    user-select: none;
}

main .container .acoes button {
    width: 300px;
    height: 48px;
    background: #0047B5;
    border-radius: 5px;
    border: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer;
}

main .container .usuario{
    margin-top: 20px;
}

main .container .usuario .publicacao{
    background-color: #2F3136;
    color: #D9D9D9;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px;
}

main .container .usuario .publicacao img{
    margin-top: 10px;
    height: 300px;
    width: 100%;
    border-radius: 5px;
}

main .container .usuario .informacoes{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #FFFFFF;
}

main .container .usuario .informacoes .informacoes-usuario{
    display: flex;
    align-items: flex-end;
}

main .container .usuario .nome-usuario{
    padding-top: 15px;
    margin-left: 15px;
    display: grid;
    align-items: flex-end;
}

main .container .usuario .nome-usuario .nome{
    font-size: 22px;
}

main .container .usuario .nome-usuario .arroba{
    color: #D9D9D9;
}

main .container .usuario .informacoes .foto{
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background-color: #2F3136;
}

main .container .usuario .informacoes .foto img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

main .container .usuario .reacoes{
    width: 100%;
    height: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .container .usuario .reacoes .emojis{
    height: 100%;
    display: flex;
    align-items: center;
}

main .container .usuario .reacoes .emojis .emoji,
main .container .usuario .reacoes .emojis .add{
    background-color: #2F3136;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    color: #FFFFFF;
    cursor: pointer;
}

main .container .usuario .reacoes .emojis .emoji:hover,
main .container .usuario .reacoes .emojis .add:hover{
    background-color: #202225;
}

main .container .usuario .reacoes .emojis .add{
    width: 40px;
}

main .container .usuario .reacoes .comportamentos{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
} 

main .container .usuario .reacoes .comportamentos .material-symbols-outlined{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 22px;
    border-radius: 20px;
    
}

main .container .usuario .reacoes .comportamentos .material-symbols-outlined:hover{
    background-color: #2F3136;
}