@font-face {
    font-family: 'Paralucent';
    src: url(/src/Paralucent\ Text\ W00\ Book.ttf);
}

* {
    font-family: 'Paralucent';
    box-sizing: border-box;
}

body {
    margin: 0px;
}

div {
    display: flex;
}

nav {
    width: 80px;
    padding: 0px 10px 0px 10px;
    height: 100vh;
    background-color: #202225;
}

nav .S {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #0047B5;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 280px;
    height: 100vh;
    background-color: #2F3136;
}

section .header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 20px;
    color: #fff;
}

section dl {
    width: 100%;
    margin: 0px;
}

section dl dd,  section dl dt  {
    color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-self: center;
    cursor: pointer;
}


section dl dd span, section dl dt {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

section dl dd .rank{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #202225;
}

section dl dd .perfil{
    display: grid;
}

section dl dd .perfil span{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section dl dd .perfil .arroba{
    font-size: 12px;
    color: #D9D9D9;
}

section dl dt{
    background-color: #202225;
}

section dl dd:hover{
    background-color: #0047B5;
}


section .separacao {
    width: 90%;
    height: 2px;
    left: 114px;
    top: 467px;
    background: #36393F;
    margin: 10px;
}

main {
    background-color: #36393F;
    width: 100%;
    height: 100vh;
}