a{
    color:#fff;
}
nav.navbar{
    background-color: rgb(26, 26, 26);
    padding: 10px 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
div.sidebar{
    height:100%
}