{{#section 'head'}}
<link rel="stylesheet" href="/css/registro/index.css">
{{/section}}
    <img src="/src/image 4.png" alt="">

    <header>
        <svg xmlns="http://www.w3.org/2000/svg" width="300" height="80" viewBox="0 0 300 80" fill="none">
            <rect width="300" height="80" fill="#0047B5" />
            <path
                d="M43.04 32C43.04 31.44 42.98 30.92 42.86 30.44C42.78 29.92 42.56 29.48 42.2 29.12C41.88 28.76 41.38 28.48 40.7 28.28C40.02 28.08 39.1 27.98 37.94 27.98C35.42 27.98 33.64 28.42 32.6 29.3C31.6 30.14 31.08 31.2 31.04 32.48C31.04 33.12 31.34 33.64 31.94 34.04C32.54 34.44 33.34 34.8 34.34 35.12C35.38 35.4 36.52 35.68 37.76 35.96C39.04 36.2 40.32 36.5 41.6 36.86C42.88 37.22 44.1 37.68 45.26 38.24C46.46 38.76 47.46 39.46 48.26 40.34C49.1 41.18 49.68 42.24 50 43.52C50.36 44.76 50.36 46.28 50 48.08C49.68 49.44 49.16 50.8 48.44 52.16C47.72 53.52 46.68 54.76 45.32 55.88C43.96 56.96 42.24 57.84 40.16 58.52C38.12 59.2 35.6 59.54 32.6 59.54C29.68 59.54 27.22 59.26 25.22 58.7C23.22 58.1 21.62 57.26 20.42 56.18C19.22 55.06 18.4 53.72 17.96 52.16C17.52 50.56 17.42 48.76 17.66 46.76H27.26C27.1 48.28 27.42 49.48 28.22 50.36C29.02 51.24 30.66 51.68 33.14 51.68C34.38 51.68 35.42 51.58 36.26 51.38C37.1 51.14 37.8 50.84 38.36 50.48C38.96 50.12 39.4 49.7 39.68 49.22C40 48.7 40.24 48.16 40.4 47.6C40.64 46.72 40.52 46.02 40.04 45.5C39.6 44.98 38.92 44.54 38 44.18C37.08 43.78 36 43.46 34.76 43.22C33.52 42.94 32.24 42.64 30.92 42.32C29.64 41.96 28.36 41.54 27.08 41.06C25.84 40.58 24.76 39.94 23.84 39.14C22.92 38.34 22.22 37.36 21.74 36.2C21.3 35.04 21.2 33.62 21.44 31.94C21.68 30.3 22.16 28.76 22.88 27.32C23.6 25.88 24.64 24.62 26 23.54C27.4 22.46 29.16 21.62 31.28 21.02C33.4 20.38 35.96 20.06 38.96 20.06C41.72 20.06 44.02 20.38 45.86 21.02C47.7 21.66 49.16 22.54 50.24 23.66C51.32 24.74 52.04 26 52.4 27.44C52.76 28.88 52.84 30.4 52.64 32H43.04ZM98.9361 59H87.6561L86.2161 31.88L73.1961 59H62.0361L59.0961 20.6H68.9961L69.4161 48.8L82.8561 20.6H93.8361L95.0961 48.8L107.696 20.6H118.196L98.9361 59ZM125.374 59H115.534L123.694 20.6H133.534L125.374 59ZM167.154 28.52H157.494L150.954 59H141.294L147.714 28.52H138.054L139.794 20.6H168.834L167.154 28.52ZM199.498 28.52H189.838L183.298 59H173.638L180.058 28.52H170.398L172.138 20.6H201.178L199.498 28.52ZM233.701 28.52H215.581L214.081 35.66H230.341L228.781 43.16H212.401L210.781 51.08H228.901L227.281 59H199.381L207.541 20.6H235.441L233.701 28.52ZM271.365 33.8C271.125 34.88 270.785 36 270.345 37.16C269.905 38.32 269.205 39.44 268.245 40.52C267.325 41.56 266.085 42.5 264.525 43.34C262.965 44.14 260.965 44.72 258.525 45.08L268.065 59H256.005L248.025 44.18L244.905 59H235.065L243.225 20.6H257.505C260.025 20.6 262.125 20.82 263.805 21.26C265.525 21.66 266.925 22.22 268.005 22.94C269.085 23.62 269.905 24.42 270.465 25.34C271.025 26.22 271.385 27.16 271.545 28.16C271.745 29.12 271.805 30.1 271.725 31.1C271.645 32.06 271.525 32.96 271.365 33.8ZM261.585 32.96C261.705 32.4 261.745 31.86 261.705 31.34C261.705 30.78 261.525 30.28 261.165 29.84C260.845 29.4 260.325 29.06 259.605 28.82C258.885 28.54 257.885 28.4 256.605 28.4H251.325L249.285 38.24H253.725C255.085 38.24 256.225 38.1 257.145 37.82C258.105 37.5 258.885 37.1 259.485 36.62C260.125 36.1 260.605 35.52 260.925 34.88C261.245 34.24 261.465 33.6 261.585 32.96Z"
                fill="white" />
        </svg>
    </header>

    <main>
        <form action="">
            <label for="">
                <p>EMAIL</p>
                <input type="text">
            </label>

            <label for="">
                <p>NOME DE USUÁRIO</p>
                <input type="text">
            </label>

            <label for="">
                <p>SENHA</p>
                <input class="senha" type="password">
            </label>

            <label for="" class="termos">
                <input class="checkbox" type="checkbox">
                <p>Li e concordo com o termo de serviço do SWITTER.</p>
            </label>
       
            <label for="" class="entrar">
                <button>Entrar</button>
                <p>Precisando de uma conta? Registre-se</p>
            </label>
      
        </form>
    </main>