@font-face {
    font-family: 'Paralucent';
    src: url(/src/Paralucent\ Text\ W00\ Book.ttf);
}

*{
    font-family: 'Paralucent';
}

img{
    position: absolute;
    width: 100%;
    bottom: 0;
}

body {
    margin: 0px;
    background-color: #0047B5;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

header{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}

header svg{
    height: 50px;
}

input {
    width: 500px;
    height: 43px;
    border: none;
    background: #FFFFFF;
    padding-left: 10px;
    outline: none;
    border-radius: 5px;
}

p{
    margin-bottom: 6px;
}

.senha{
    font-family: Arial, Helvetica, sans-serif !important;
}

button {
    margin-top: 15px;
    width: 100%;
    height: 48px;
    background: #0047B5;
    border-radius: 5px;
    border: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #FFFFFF;
    font-size: 18px;
}