{{#section 'head'}}
<link rel="stylesheet" href="/css/feed/index.css">
{{/section}}

    <div>
        <nav>
            <div class="S">S</div>

        </nav>

        <section>
            <div class="header">Descobrir</div>
            <dl>
                <dd>
                    <span class="material-symbols-outlined">
                        explore
                    </span>
                    <span>Feed</span>
                </dd>
                <dd>
                    <span class="material-symbols-outlined">
                        notifications
                    </span>
                    <span>Notificações</span>
                </dd>
                <dd>
                    <span class="material-symbols-outlined">
                        groups
                    </span>
                    <span>Grupos</span>
                </dd>

                <dd>
                    <span class="material-symbols-outlined">
                        sports_esports
                    </span>
                    <span>Games</span>
                </dd>
            </dl>

            <div class="separacao">
                <dl>
                    <dd><span>aaa</span></dd>
                </dl>
            </div>



        </section>
        <main>
            <div></div>

        </main>
    </div>
