<div class="feed">
    <input id="feed-input" type="text" placeholder="Digite algo legal">
    <div class="acoes">
        <div>
            <span class="material-symbols-outlined">
                add_photo_alternate
            </span>

            <span class="material-symbols-outlined">
                gif_box
            </span>

            <span class="material-symbols-outlined">
                assistant_navigation
            </span>
        </div>

        <button onclick="createMessage()">Sweet</button>
    </div>


    <div id="feed-mensagem-area">
       
    </div>

</div>