<div class="feed">
    <input type="text" placeholder="Digite algo legal">
    <div class="acoes">
        <div>
            <span class="material-symbols-outlined">
                add_photo_alternate
            </span>

            <span class="material-symbols-outlined">
                gif_box
            </span>

            <span class="material-symbols-outlined">
                assistant_navigation
            </span>
        </div>

        <button>Sweet</button>
    </div>

    <div class="usuario">
        <div class="informacoes">
            <div class="informacoes-usuario">
                <div class="foto">
                    <img src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">
                </div>
                <div class="nome-usuario">
                    <p class="nome">Vitor Da Clincorp 🍊</p>
                    <p class="arroba">@vitor</p>
                </div>
            </div>
            <p class="horario">12min</p>

        </div>
        <div class="publicacao">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error impedit, a possimus aliquam molestias
                veniam quae similique repudiandae exercitationem, reiciendis corporis aspernatur tempora consequatur
                aliquid quisquam perspiciatis corrupti dolore numquam.</p>
        </div>

        <div class="reacoes">
            <div class="emojis">
                <div class="emoji">😋 <p>10</p>
                </div>

                <div class="emoji">🐸 <p>20</p>
                </div>

                <div class="add">+
                </div>
            </div>

            <div class="comportamentos">
                <div class="resweetar">
                    <span class="material-symbols-outlined">
                        keyboard_return
                    </span>
                </div>
                <div class="comentar">
                    <span class="material-symbols-outlined">
                        chat_bubble
                    </span>
                </div>
            </div>


        </div>
    </div>
</div>