<div class="grupo">

    <div class="mensagens">
        <div class="mensagem">
            <div class="perfil">
                <img class="foto" src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">

                <div class="informacoes">
                    <div class="detalhes-mensagem">
                        <p class="nome">Vitor Da Clincorp 🍊</p>
                        <p class="tempo">12min</p>
                    </div>

                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Commodi quod officiis
                        delectus cupiditate nobis. Ea, mollitia excepturi magnam doloremque sit sequi? Et totam autem
                        reprehenderit molestiae ratione nobis?
                    </div>

                    <div class="emojis">
                        <div class="emoji">😋 <p>10</p>
                        </div>

                        <div class="emoji">🐸 <p>20</p>
                        </div>

                        <div class="add">+
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mensagem">
            <div class="perfil">
                <img class="foto" src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">

                <div class="informacoes">
                    <div class="detalhes-mensagem">
                        <p class="nome">Vitor Da Clincorp 🍊</p>
                        <p class="tempo">12min</p>
                    </div>

                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Commodi quod officiis
                        delectus cupiditate nobis. Ea, mollitia excepturi magnam doloremque sit sequi? Et totam autem
                        reprehenderit molestiae ratione nobis?
                    </div>

                    <div class="emojis">
                        <div class="emoji">😋 <p>10</p>
                        </div>

                        <div class="emoji">🐸 <p>20</p>
                        </div>

                        <div class="add">+
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mensagem">
            <div class="perfil">
                <img class="foto" src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">

                <div class="informacoes">
                    <div class="detalhes-mensagem">
                        <p class="nome">Vitor Da Clincorp 🍊</p>
                        <p class="tempo">12min</p>
                    </div>

                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Commodi quod officiis
                        delectus cupiditate nobis. Ea, mollitia excepturi magnam doloremque sit sequi? Et totam autem
                        reprehenderit molestiae ratione nobis?
                    </div>

                    <div class="emojis">
                        <div class="emoji">😋 <p>10</p>
                        </div>

                        <div class="emoji">🐸 <p>20</p>
                        </div>

                        <div class="add">+
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mensagem">
            <div class="perfil">
                <img class="foto" src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">

                <div class="informacoes">
                    <div class="detalhes-mensagem">
                        <p class="nome">Vitor Da Clincorp 🍊</p>
                        <p class="tempo">12min</p>
                    </div>

                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Commodi quod officiis
                        delectus cupiditate nobis. Ea, mollitia excepturi magnam doloremque sit sequi? Et totam autem
                        reprehenderit molestiae ratione nobis?
                    </div>

                    <div class="emojis">
                        <div class="emoji">😋 <p>10</p>
                        </div>

                        <div class="emoji">🐸 <p>20</p>
                        </div>

                        <div class="add">+
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <div class="mensagem">
            <div class="perfil">
                <img class="foto" src="https://avatars.githubusercontent.com/u/97001424?v=4" alt="">

                <div class="informacoes">
                    <div class="detalhes-mensagem">
                        <p class="nome">Vitor Da Clincorp 🍊</p>
                        <p class="tempo">12min</p>
                    </div>

                    <div class="texto">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, cumque. Commodi quod officiis
                        delectus cupiditate nobis. Ea, mollitia excepturi magnam doloremque sit sequi? Et totam autem
                        reprehenderit molestiae ratione nobis?
                    </div>

                    <div class="emojis">
                        <div class="emoji">😋 <p>10</p>
                        </div>

                        <div class="emoji">🐸 <p>20</p>
                        </div>

                        <div class="add">+
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sessao">
        <div class="input">
            <input type="text" placeholder="Digite algo legal e faça uma amizade...">

            <div class="label">
                <button class="arquivo">
                    <span class="material-symbols-outlined">
                        attach_file
                    </span>
                </button>
                <button class="gif">
                    <span class="material-symbols-outlined">
                        gif_box
                    </span>
                </button>
                <button class="emoji">
                    <span class="material-symbols-outlined">
                        mood
                    </span>
                </button>
            </div>
        </div>

        <button class="enviar">
            <span class="material-symbols-outlined">
                arrow_forward
            </span>
        </button>

    </div>
</div>